page-home {
    .slide{
        height: 15vh;
    }
    .slide button{
        height: 6vh;
        font-size: 0.75em;
        width: 10vh;
    }
    .avatar img{
        height: 5vh;
        border-radius: 10px;
    }
}
