<ion-header>

  <ion-navbar>
    <ion-title>Add</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Product Name: </ion-label>
      <ion-input type="text" [(ngModel)]="product.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Author:</ion-label>
      <ion-select [(ngModel)]="product.author">
        <ion-option *ngFor="let author of authors">
          {{author}}
        </ion-option>
      </ion-select>
      <button ion-button icon-only small (click)="authorsAlert()" item-end>
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-item>

    <ion-item>
      <ion-label floating>Genre:</ion-label>
      <ion-select [(ngModel)]="product.genre"
                  multiple="true">
        <ion-option *ngFor="let genre of genres">
          {{genre}}
        </ion-option>
      </ion-select>
      <button ion-button icon-only small (click)="genresAlert()" item-end>
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-item>

    <ion-item>
      <ion-label fixed>Cover of book: </ion-label>
      <ion-input type="file" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Published year:</ion-label>
      <ion-input type="number" [(ngModel)]="product.year"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating>Description: </ion-label>
      <ion-textarea type="text" [(ngModel)]="product.description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label floating>Price: </ion-label>
      <ion-input type="number" [(ngModel)]="product.price"></ion-input>
    </ion-item>
    
    <ion-item>
      <button ion-button 
              (click)="add(product)"
              block>
            Add
          </button>
    </ion-item>
  
  </ion-list>
</ion-content>
